.daohang{
	top: 780px;
	position: absolute;
	height: 70px;
	width: 100%;
	z-index: 100;
	align-items: center;
	display: flex;
	writing-mode: horizontal-tb;
}
.daohang p{
	position: absolute; /* 设置元素位置为绝对定位 */
	margin-left: 260px;
	color: white;
	font-family:"微软雅黑";
}
.daohang a{
	position: absolute; /* 设置元素位置为绝对定位 */
	display: inline-block;
	margin-left: 300px;
	color: rgb(100, 100, 100);
	font-family:"微软雅黑";	
	text-decoration: none;
}
.daohang a:hover{
	color: white;
}
.daohang a>i{
	margin-left: 35px;
	color: rgb(100, 100, 100);	
	text-decoration: none;
}
.daohang a>i:hover{
	color: white;
}
/*静音和非静音*/
#muteBtn {
	position: absolute;
	margin-top : 720px;
	margin-left: 220px;
    background-color: transparent;
    border: none;
    z-index: 1000;
}
/*图片*/
.video{
	position: absolute;
	top: 850px;
	height: 1110px;
	width: 89.5%;
	right: 0px;
	z-index: 1;
}
.main{
	margin: 45px;
	background-size: cover;
	position: relative;
	width: 200px;
	height: 290px;
	background: #ccc;
	overflow: hidden;
	display:inline-block;
}
.main a>img{
	width: 210px;
	height: auto;
	transition: 0.5s;
}
.main a>img:hover{
	transform: scale(1.2);
}
.btys{
	width: 100%;
	height: 30px;
	background: rgb(200,200,200);
	position: absolute;
	bottom: 0px;
	left: 0px;
	opacity: 0.5;
}
.main .image a{
	position:absolute;
	bottom: 5px;
	left: 34%;
	color: #fff;
	text-decoration: none;
	text-align: center;
}


